@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 255);
}
h1{
    text-align: center;
    color: white;
    margin: 6vh;
    text-decoration: overline;
}
section{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 5px 10px;
    margin: auto;
    width: 50vw;
    min-width: 350px;
    height: 50vh;
    min-height: 200px;
    box-shadow: 4px 7px 10px 0px rgba(0, 0, 0, 0.747);
}
footer{
    margin: 6vh;
}
footer > p{
    color: white;
    font-weight: bold;
    text-align: center;
}
a{
    color: aliceblue;
    font-weight: bolder;
}
a:hover{
    color: black;
}
p#par{
    text-align: center;
    font-size: 2em;
}
#entar{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#anoi{
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
}
#dia{
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
}